/* MovieDetails */

.movie-details-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

/* Info */
.movie-info-container {
  display: flex;
  flex-direction: row;
  background-color: #001529;
  box-shadow: 3px 3px 2px grey;
  margin: 20px;
}

.wishlist-button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #1da57a;
}

.movie-backdrop {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.movie-poster {
  width: 250px;
  height: 100%;
}

.info-container {
  margin-left: 20px;
}
.genres {
  font-size: 20px;
}

.info-text {
  font-size: 20px;
  color: white;
}

.rating-container {
  margin-bottom: 10px;
}

.rating-value {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.details-container {
  margin-bottom: 10px;
}

/* Actors */

.actors-container {
  margin: 20px;
}

.container-actorlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.actor-card {
  height: 300px;
  width: 180px;
  margin: 15px 15px 100px 15px;
}

.blank-poster {
  background-color: grey;
  height: 270px;
}

.meta {
  height: 80px;
}

/* Comments */

.comments-container {
  margin: 20px;
}
