.container-flexbox-MovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.movie-card-container {
  height: 380px;
  width: 260px;
  margin: 15px 15px 100px 15px;
}

.blank-movie-poster {
  background-color: grey;
  height: 360px;
}

.poster {
  height: 360px;
}

.carousel-movie-title-container {
  position: absolute;
  left: 8px;
  bottom: 16px;
}

.pagination {
  margin: 45px;
  text-align: center;
}
